/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.setup-card {
	width: 100%;
  padding: 8px;
  background: #9e9e9e;
}
